body{
    background-image: url("C:\Users\sris2\Music\cloud.avif");
    background-size: 100%;
    background-repeat: no-repeat;
}
.formContainer{
    height: 400px;
    width: 550px;
    overflow: hidden;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 35%;
    margin-right: 100%;
    border-radius: 20px;
  }